<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>홈 페이지</title>
  <style>
    .btn-green {
      background-color: #28a745;
      color: white;
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
    }
  </style>
</head>
<body>
  <h1>홈 페이지</h1>
  <a class="btn-green" href="/keyword">검색광고 API 분석</a>
  <a class="btn-green" href="/insight/category">쇼핑인사이트 카테고리 분석</a>
  <a class="btn-green" href="/insight/keyword">쇼핑인사이트 키워드 분석</a>
</body>
</html>
