<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>쇼핑인사이트 결과</title>
</head>
<body>
  <h1>쇼핑인사이트 API 결과</h1>
  <pre><%= JSON.stringify(data, null, 2) %></pre>
  <a href="/insight/category">다시 조회하기</a>
</body>
</html>
